[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = https://github.com/xxuejie/hugo-black-and-light-theme.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
